@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

$Almost_White: #fafafa;
$Medium_Gray: #696969;
$Almost_Black: #141414;

$Font_size: 18px;
$Family_Font: "Epilogue", sans-serif;

body {
  font-family: $Family_Font;
  color: $Medium_Gray;
}

body::-webkit-scrollbar {
  display: none;
}

.navbar-toggler {
  border: none;
  outline: none;
  box-shadow: none;

  &:focus {
    border: none;
    outline: none;
    box-shadow: none;
  }
}

.offcanvas {
  max-width: 300px;
}

.leftSide {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  img {
    width: 100%;
  }
}

.about {
  margin: 3rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    font-weight: bold;
    color: $Almost_Black;
    font-size: 2.5rem;
  }

  .summary {
    font-size: 1.1rem;
  }

  .btn {
    width: 40%;
    margin-top: 1rem;
    padding: 0.7rem 1rem;
    border-radius: 1rem;
    background-color: $Almost_Black;
    color: $Almost_White;
  }
}

.clients {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 30%;

  img {
    width: 100%;
    height: 100%;
  }
}

.dropdown {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  button.btn {
    border: none;
    padding: 0;
  }

  .btn.dropdown-toggle::after {
    color: $Medium_Gray;
  }

  .dropdown-menu {
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .dropdown-item {
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
      max-width: 100%;
    }
  }
}

.Signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0;

  .login {
    background-color: #fff;
    padding: 0rem 2rem;
  }
  .btn.register {
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    border: $Almost_Black solid 2px;
  }
}

.Careers,
.About {
  cursor: pointer;
}

/* Media query for desktop screens */
@media (min-width: 992px) {
  .navbar {
    padding: 1rem;
  }

  .main {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 5rem;
  }

  .logo {
    width: 100%;
  }
  .offcanvas-body {
    align-self: self-end;

    ul {
      margin: 0;
    }

    .inner-body {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }

  .Signup {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }


  .rightSide{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .leftSide {
    gap: 5rem;
    padding-right: 4rem;
    align-self: flex-end;

    .about {
      margin: 0;
      text-align: left;
      gap: 3rem;

      .header {
        align-self: flex-start;
        font-size: 6rem;

        span{
          display: block;
          padding: 0;
          margin: 0;
        }
      }

      .summary {
        font-size: 1.5rem;
      }

      .btn {
        width: 30%;
        align-self: flex-start;

        &:hover {
          background-color: $Almost_White;
          color: #141414;
          border: $Almost_Black solid 2px;
        }
      }
    }

    .clients {
      // margin-top: 8rem;
      width: 100%;
      img {
        width: 50%;
        height: 50%;
      }
    }
  }
}
